body {
	margin: 0;
}		
img {
	width: 100%;
}
section{
	padding-top: : 10px;
	padding-right: 10px;
	padding-left: 20px; 
	padding-bottom: 10px;
	background-color: rgba(93, 155, 155, 0.5); 
	/* 0123456789abcdef */
	/* ргба ргб 0 -255, а прозрачность 0 или 1 */
	margin: 30px;
	color:#ffffff;
}
section > a {
	text-decoration: none;
}

a { color:  red; }
a:hover {
	color: purple;
}

.wrapper{background-color: #dddddd;}